.env
chatbot.db
venv/
firebase_key.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
instance/
*.log

# Static files
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
