.env
chatbot.db
venv/
firebase_key.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
instance/
*.log


# IDE / Editor
.vscode/
.idea/
*.swp

# Don't commit collected static files
/staticfiles/

render.yaml
